body {
    margin: 0;
    padding: 0;
    font-family: Akzidenz Grotesk BQ Light, Helvetica, Arial, serif;
    color: rgba(53, 52, 52, 1);
    box-sizing: border-box;
}
header {
    margin: 25px 20px;
}
.nav {
    list-style-type: none;
    text-align: center;
    margin: 0px;
}
.nav li {
    display: block;
}
.nav a {
    text-decoration: none;
    margin-right: 35px;
    color: rgba(53, 52, 52, 1);
}
.headleft {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 45%;
}
.headleft a {
    flex-wrap: nowrap;
    font-size: 15px;
}
.headright {
    display: inline-flex;
    width: 45%;
}
.headright a {
    flex-wrap: nowrap;
    font-size: 12px;
}
.button {
    font-weight: bold;
    text-align: center;
    padding: 17px 25px;
    border-radius: 3px;
    font-size: 15px;
}
.button_green {
    color: white;
    background-color: rgba(48, 138, 48, 1);
}
.button_white {
    color:  rgba(48, 138, 48, 1);
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(221, 221, 221, 1);
}
.banner {
    background-image: url(../images/banner.JPG);
    color: white;
    height: 855px;
    margin:0px;
    padding: 0px;
    text-align: left;
}
.content {
    width: 565px;
    margin-left: 360px;
    margin-top: 10px;
}
h1 {
    font-size: 45px;
    font-weight: normal;
    margin: 0px;
    line-height: 1.35em;
}
.line {
    font-weight: bold;
    margin: 0px;
    padding-top: 150px;
}
.banner p {
    font-size: 18px;
    line-height: 1.55em;
}
.advantages {
    text-align: center;
    margin: 80px auto;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-left: 360px;
    margin-right: 360px;
}
h2 {
    color:  rgb(27, 85, 27);
    font-weight: bold;
    font-size: 28px;
    margin: 0px;
}
.title {
    width: 30%;
    margin: 0 auto;
}
.title p {
    font-size: 21px; 
h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.container_small {
    width: 325px;
    margin: 15px;
}
.container_small p {
    font-size: 17px;
    line-height: 1.65em;
}
.platform {
    text-align: left;
    background-color: rgba(245, 243, 243, 1);
}
.platform p {
    font-size: 21px;
    color: red;
}
.platform img {
    float: left;
    margin-left: 280px;
}
.customer {
    text-align: center;
}